/* Style pour le conteneur principal */
.container {
  margin-top: 20px;
}

/* Style pour le bouton Ajouter un Article */
.add-article-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left:80%;
}

.add-article-btn i {
  margin-right: 8px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}

/* Style pour le formulaire */
form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="button"] {
  background-color: #6c757d;
  margin-left: 10px;
}

/* Style pour les cartes */
.row-cols-md-3 {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 32%;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  margin: 15px;
}

.card-text {
  flex-grow: 1;
  margin: 15px;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.card-footer .btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.card-footer .btn:hover {
  color: #0056b3;
}
